<div style="margin-top: -105px">

    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white experiencia" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
           <i class="bi-hdd-fill"></i>
            <h3>Back-end</h3>

            <p>
                Development of robust back-end applications from design, unit testing and deployment in production
            </p>

            <p class="text-primary cabecalho">
                Stack:
            </p>

            <p>
                .NET Framework, .NET Core, SQL Server
            </p>

            <p class="text-primary cabecalho">
                Experience:
            </p>

            <ul>
                <li>Visual Basic</li>
                <li>Sql Server</li>
            </ul>

        </div>
        <div class="col col-3 bg-white experiencia" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-code-slash"></i>
            <h3>Front-End</h3>
            <p>
                Creation of front-end applications using the most current tools in the market integrated with the back-end
            </p>

            <p class="text-primary cabecalho">
                Stack:
            </p>

            <p>
                Angular
            </p>

            <p class="text-primary cabecalho">
                Experience:
            </p>

            <ul>
                <li>Javascript</li>
                <li>HTML/CSS</li>
            </ul>
        </div>
    </div>
</div>
