@{
    ViewData["Title"] = "Experience";
}

<section class="experiencee" id="experiencee">
    <div class="main-textt">
        <p>Professional</p>
        <h2>Work Experiences</h2>
    </div>

    <div class="timelinee">

        <div class="containerr">
            <img src="/imagens/novomundo.png">
            <div class="text-boxx">
                <h5>Novo Mundo</h5>
                <small>2022 - 2023</small>
                <p>Development and maintenance of forms using Oracle Forms (PL/SQL), in addition to internal service platforms using PHP, Laravel, JavaScript, CSS, HTML and SVN versioning control.</p>
            </div>
        </div>

        <div class="containerr">
            <img src="/imagens/cristalalimentos.png">
            <div class="text-boxx">
                <h5>Cristal Alimentos</h5>
                <small>2021 - 2022</small>
                <p>Development and maintenance of forms and internal systems using .NET Framework, Visual Basic and SQL Server database.</p>
            </div>
        </div>

    </div>
</section>