@model IEnumerable<Projeto>

@{
    ViewData["Title"] = "Projetos";
}

<div class="container">
    <h1>My Projects</h1>
    <p>Main projects where I worked</p>
</div>

<partial name="_Projetos" model="Model" />